.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.links {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-right: 0;
}

.logout {
  padding: 15px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}
